[submodule "KiCAD/Libraries/kicad_lib_tmk"]
	path = KiCAD/Libraries/kicad_lib_tmk
	url = git@github.com:tmk/kicad_lib_tmk.git
[submodule "KiCAD/Libraries/keyboard_parts.pretty"]
	path = KiCAD/Libraries/keyboard_parts.pretty
	url = git@github.com:tmk/keyboard_parts.pretty.git
[submodule "KiCAD/Libraries/keebs.pretty"]
	path = KiCAD/Libraries/keebs.pretty
	url = git@github.com:egladman/keebs.pretty.git
[submodule "KiCAD/Libraries/keyswitch-kicad-library"]
	path = KiCAD/Libraries/keyswitch-kicad-library
	url = git@github.com:perigoso/keyswitch-kicad-library.git
