[submodule "KiCAD/Libraries/kicad_lib_tmk"]
	path = KiCAD/Libraries/kicad_lib_tmk
	url = git@github.com:tmk/kicad_lib_tmk.git
[submodule "KiCAD/Libraries/keyboard_parts.pretty"]
	path = KiCAD/Libraries/keyboard_parts.pretty
	url = git@github.com:tmk/keyboard_parts.pretty.git
[submodule "KiCAD/Libraries/keebs.pretty"]
	path = KiCAD/Libraries/keebs.pretty
	url = git@github.com:egladman/keebs.pretty.git
[submodule "KiCAD/Libraries/keyswitch-kicad-library"]
	path = KiCAD/Libraries/keyswitch-kicad-library
	url = git@github.com:perigoso/keyswitch-kicad-library.git
[submodule "KiCAD/Libraries/RP_Silicon_KiCad"]
	path = KiCAD/Libraries/RP_Silicon_KiCad
	url = git@github.com:HeadBoffin/RP_Silicon_KiCad.git
[submodule "KiCAD/Libraries/CrumpSchemes"]
	path = KiCAD/Libraries/CrumpSchemes
	url = git@github.com:tylercrumpton/CrumpSchemes.git
[submodule "KiCAD/Libraries/CrumpPrints.pretty"]
	path = KiCAD/Libraries/CrumpPrints.pretty
	url = git@github.com:tylercrumpton/CrumpPrints.pretty.git
